In [1]:
from utils import create_facts_and_examples
import numpy as np
import pandas as pd
import random, os
np.random.seed(0) #Code B

In [2]:
N = 30
# A =  np.bool_(np.random.randint(2, size=N))
# B =  np.bool_(np.random.randint(2, size=N))
A =  np.bool_(np.random.randint(2, size=N))
B =  np.bool_(np.random.randint(2, size=N))
C =  np.bool_(np.random.randint(2, size=N))

customer = ['c'+str(i+16000) for i in range(90)]

Fraud = A & B #& C

df = pd.DataFrame({'orig':np.random.choice(customer, size=N), 'destination':np.random.choice(customer, size=N),\
                   'A':A, 'B':B, "Fraud":Fraud})
df.drop(df[(A==0)&(B==0)].index, inplace=True)

df = pd.DataFrame({'orig':np.random.choice(customer, size=N), 'destination':np.random.choice(customer, size=N),\
                   'A':A, 'B':B, "Fraud":Fraud})
df.drop(df[(A==0)&(B==0)].index, inplace=True)

In [3]:
df

      orig destination      A      B  Fraud
0   c16058      c16066  False   True  False
1   c16065      c16052   True  False  False
2   c16036      c16067   True   True   True
4   c16086      c16014   True   True   True
5   c16043      c16004   True   True   True
6   c16011      c16067   True  False  False
7   c16002      c16011   True   True   True
8   c16051      c16086   True   True   True
9   c16080      c16077   True  False  False
10  c16032      c16075   True  False  False
11  c16054      c16056  False   True  False
13  c16038      c16024   True   True   True
14  c16019      c16029  False   True  False
15  c16046      c16021  False   True  False
16  c16042      c16025  False   True  False
17  c16056      c16080  False   True  False
19  c16077      c16061   True   True   True
21  c16024      c16033   True   True   True
22  c16002      c16032   True   True   True
23  c16003      c16070  False   True  False
24  c16013      c16085  False   True  False
25  c16040      c16031   True  False  False
26  c16072      c16013   True   True   True
27  c16019      c16071   True  False  False
28  c16072      c16056   True  False  False
29  c16026      c16024  False   True  False

In [4]:
df.drop(df[df['orig']==df['destination']].index, inplace=True)

In [5]:
fraudsters = df[df['Fraud']==True]

In [6]:
fraudsters[['orig','destination']]

      orig destination
2   c16036      c16067
4   c16086      c16014
5   c16043      c16004
7   c16002      c16011
8   c16051      c16086
13  c16038      c16024
19  c16077      c16061
21  c16024      c16033
22  c16002      c16032
26  c16072      c16013

In [7]:
index_from_merge = pd.merge(df.reset_index(), fraudsters[['destination']].drop_duplicates(), how='inner', left_on='orig', right_on='destination')

In [8]:
index_from_merge

   index    orig destination_x      A      B  Fraud destination_y
0      4  c16086        c16014   True   True   True        c16086
1      6  c16011        c16067   True  False  False        c16011
2     10  c16032        c16075   True  False  False        c16032
3     21  c16024        c16033   True   True   True        c16024
4     24  c16013        c16085  False   True  False        c16013

In [9]:
df['Fraud_chain--orig--destination']=False
df.loc[index_from_merge['index'],'Fraud']=True
df.loc[index_from_merge['index'],'Fraud_chain--orig--destination']=True
df['From--orig']=1
df['To--destination']=1

In [10]:
df.loc[index_from_merge['index'],:]

,orig,destination,A,B,Fraud,Fraud_chain--orig--destination,From--orig,To--destination
4,c16086,c16014,True,True,True,True,1,1
6,c16011,c16067,True,False,True,True,1,1
10,c16032,c16075,True,False,True,True,1,1
21,c16024,c16033,True,True,True,True,1,1
24,c16013,c16085,False,True,True,True,1,1

In [11]:
df

,orig,destination,A,B,Fraud,Fraud_chain--orig--destination,From--orig,To--destination
0,c16058,c16066,False,True,False,False,1,1
1,c16065,c16052,True,False,False,False,1,1
2,c16036,c16067,True,True,True,False,1,1
4,c16086,c16014,True,True,True,True,1,1
5,c16043,c16004,True,True,True,False,1,1
6,c16011,c16067,True,False,True,True,1,1
7,c16002,c16011,True,True,True,False,1,1
8,c16051,c16086,True,True,True,False,1,1
9,c16080,c16077,True,False,False,False,1,1
10,c16032,c16075,True,False,True,True,1,1
11,c16054,c16056,False,True,False,False,1,1
13,c16038,c16024,True,True,True,False,1,1
14,c16019,c16029,False,True,False,False,1,1
15,c16046,c16021,False,True,False,False,1,1
16,c16042,c16025,False,True,False,False,1,1
17,c16056,c16080,False,True,False,False,1,1
19,c16077,c16061,True,True,True,False,1,1
21,c16024,c16033,True,True,True,True,1,1
22,c16002,c16032,True,True,True,False,1,1
23,c16003,c16070,False,True,False,False,1,1
24,c16013,c16085,False,True,True,True,1,1
25,c16040,c16031,True,False,False,False,1,1
26,c16072,c16013,True,True,True,False,1,1
27,c16019,c16071,True,False,False,False,1,1
28,c16072,c16056,True,False,False,False,1,1
29,c16026,c16024,False,True,False,False,1,1

### creating fact, positive and negative examples

In [12]:
#drop first letter and convert to int
df['orig'] = df['orig'].str[1:].astype('int')
df['destination'] = df['destination'].str[1:].astype('int')

In [13]:
%%script true
create_facts_and_examples(df_= df, target='Fraud', 
                          predicates=['A', 'B', 'From--orig', 'To--destination'], output_dir="examples/chain-fraud-erman")

In [14]:
%%script true
create_facts_and_examples(df_= df, target='Fraud_chain--orig--destination', 
                          predicates=['Fraud', 'From--orig', 'To--destination'], output_dir="examples/transitivity-fraud-rule")

## Create simple transitivity problem

In [15]:
pd.merge(df[['orig','destination']], df[['orig','destination']], \
                            how='inner', left_on=['orig', 'destination'], right_on=['destination','orig'])

Empty DataFrame
Columns: [orig_x, destination_x, orig_y, destination_y]
Index: []

In [16]:
df['Fraud--orig--destination']=df['Fraud']
df['Transfer--orig--destination']=1
create_facts_and_examples(df_= df, target='Fraud_chain--orig--destination', 
                          predicates=['Fraud--orig--destination', 'Transfer--orig--destination'], 
                          output_dir="examples/simple-transitivity-fraud-rule", filter_null_columns=False)

Fraud_chain--orig--destination 16086 16014 flag= True
Fraud_chain--orig--destination 16011 16067 flag= True
Fraud_chain--orig--destination 16032 16075 flag= True
Fraud_chain--orig--destination 16024 16033 flag= True
Fraud_chain--orig--destination 16013 16085 flag= True
Fraud_chain--orig--destination 16058 16066 flag= False
Fraud_chain--orig--destination 16065 16052 flag= False
Fraud_chain--orig--destination 16036 16067 flag= False
Fraud_chain--orig--destination 16043 16004 flag= False
Fraud_chain--orig--destination 16002 16011 flag= False
Fraud_chain--orig--destination 16051 16086 flag= False
Fraud_chain--orig--destination 16080 16077 flag= False
Fraud_chain--orig--destination 16054 16056 flag= False
Fraud_chain--orig--destination 16038 16024 flag= False
Fraud_chain--orig--destination 16019 16029 flag= False
Fraud_chain--orig--destination 16046 16021 flag= False
Fraud_chain--orig--destination 16042 16025 flag= False
Fraud_chain--orig--destination 16056 16080 flag= False
Fraud_chain--orig--destination 16077 16061 flag= False
Fraud_chain--orig--destination 16002 16032 flag= False
Fraud_chain--orig--destination 16003 16070 flag= False
Fraud_chain--orig--destination 16040 16031 flag= False
Fraud_chain--orig--destination 16072 16013 flag= False
Fraud_chain--orig--destination 16019 16071 flag= False
Fraud_chain--orig--destination 16072 16056 flag= False
Fraud_chain--orig--destination 16026 16024 flag= False
Fraud--orig--destination
Fraud--orig--destination 16036 16067 flag= True
Fraud--orig--destination 16086 16014 flag= True
Fraud--orig--destination 16043 16004 flag= True
Fraud--orig--destination 16011 16067 flag= True
Fraud--orig--destination 16002 16011 flag= True
Fraud--orig--destination 16051 16086 flag= True
Fraud--orig--destination 16032 16075 flag= True
Fraud--orig--destination 16038 16024 flag= True
Fraud--orig--destination 16077 16061 flag= True
Fraud--orig--destination 16024 16033 flag= True
Fraud--orig--destination 16002 16032 flag= True
Fraud--orig--destination 16013 16085 flag= True
Fraud--orig--destination 16072 16013 flag= True
Transfer--orig--destination
Transfer--orig--destination 16058 16066 flag= True
Transfer--orig--destination 16065 16052 flag= True
Transfer--orig--destination 16036 16067 flag= True
Transfer--orig--destination 16086 16014 flag= True
Transfer--orig--destination 16043 16004 flag= True
Transfer--orig--destination 16011 16067 flag= True
Transfer--orig--destination 16002 16011 flag= True
Transfer--orig--destination 16051 16086 flag= True
Transfer--orig--destination 16080 16077 flag= True
Transfer--orig--destination 16032 16075 flag= True
Transfer--orig--destination 16054 16056 flag= True
Transfer--orig--destination 16038 16024 flag= True
Transfer--orig--destination 16019 16029 flag= True
Transfer--orig--destination 16046 16021 flag= True
Transfer--orig--destination 16042 16025 flag= True
Transfer--orig--destination 16056 16080 flag= True
Transfer--orig--destination 16077 16061 flag= True
Transfer--orig--destination 16024 16033 flag= True
Transfer--orig--destination 16002 16032 flag= True
Transfer--orig--destination 16003 16070 flag= True
Transfer--orig--destination 16013 16085 flag= True
Transfer--orig--destination 16040 16031 flag= True
Transfer--orig--destination 16072 16013 flag= True
Transfer--orig--destination 16019 16071 flag= True
Transfer--orig--destination 16072 16056 flag= True
Transfer--orig--destination 16026 16024 flag= True

In [17]:
df[['orig','destination','Fraud','Fraud_chain--orig--destination']]

     orig  destination  Fraud  Fraud_chain--orig--destination
0   16058        16066  False                           False
1   16065        16052  False                           False
2   16036        16067   True                           False
4   16086        16014   True                            True
5   16043        16004   True                           False
6   16011        16067   True                            True
7   16002        16011   True                           False
8   16051        16086   True                           False
9   16080        16077  False                           False
10  16032        16075   True                            True
11  16054        16056  False                           False
13  16038        16024   True                           False
14  16019        16029  False                           False
15  16046        16021  False                           False
16  16042        16025  False                           False
17  16056        16080  False                           False
19  16077        16061   True                           False
21  16024        16033   True                            True
22  16002        16032   True                           False
23  16003        16070  False                           False
24  16013        16085   True                            True
25  16040        16031  False                           False
26  16072        16013   True                           False
27  16019        16071  False                           False
28  16072        16056  False                           False
29  16026        16024  False                           False

In [18]:
df[df['Fraud']==True]

,orig,destination,A,B,Fraud,Fraud_chain--orig--destination,From--orig,To--destination,Fraud--orig--destination,Transfer--orig--destination
2,16036,16067,True,True,True,False,1,1,True,1
4,16086,16014,True,True,True,True,1,1,True,1
5,16043,16004,True,True,True,False,1,1,True,1
6,16011,16067,True,False,True,True,1,1,True,1
7,16002,16011,True,True,True,False,1,1,True,1
8,16051,16086,True,True,True,False,1,1,True,1
10,16032,16075,True,False,True,True,1,1,True,1
13,16038,16024,True,True,True,False,1,1,True,1
19,16077,16061,True,True,True,False,1,1,True,1
21,16024,16033,True,True,True,True,1,1,True,1
22,16002,16032,True,True,True,False,1,1,True,1
24,16013,16085,False,True,True,True,1,1,True,1
26,16072,16013,True,True,True,False,1,1,True,1

In [19]:
df[df['Fraud_chain--orig--destination']==True][['orig','destination', 'Fraud_chain--orig--destination']]

     orig  destination  Fraud_chain--orig--destination
4   16086        16014                            True
6   16011        16067                            True
10  16032        16075                            True
21  16024        16033                            True
24  16013        16085                            True

In [20]:
index_from_merge = pd.merge(df.reset_index(), 
                            fraudsters[['destination']].drop_duplicates(), how='inner', left_on='orig', right_on='destination')

ValueError: You are trying to merge on int64 and object columns for key 'orig'. If you wish to proceed you should use pd.concat

In [ ]:
%%script true
create_facts_and_examples(df_= df, target='Fraud_chain--orig--destination', 
                          predicates=['Fraud--orig--destination'], output_dir="examples/fraud-and-fraud-chain")